input[type=checkbox]:checked + label #a {
	background-color: #f4e94e;
	margin-left: calc(100% - 20px);
	box-shadow: 0 0 100px rgba(249, 240, 104,1); 

	* {
		opacity: 0;
	}
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none; 
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
	font-family: 'Orbitron', sans-serif;
}